body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

td {
  height: 100px;
  width: 100px;
  background-color: black;
}

.knight {
  border: 40px solid red;
  box-sizing: border-box;
}

.knight::after {
  content: 'K';
  color: orange;
}